<div id="about" class="uk-section-default">
    <div class="about-section uk-section uk-section-xlarge uk-background-norepeat uk-background-center-center uk-background-image@l">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large uk-flex-middle uk-margin" uk-grid>
                <div class="uk-width-expand@m uk-grid-item-match">
                    <div class="about-image uk-background-norepeat uk-background-top-right uk-tile">
                        <div class="uk-margin uk-text-right@m uk-text-center">
                            <img width="520" src="{{ asset('build/images/about-device.png') }}" alt="About Us">
                        </div>
                    </div>
                </div>
                <div class="uk-width-expand@m uk-flex-first@m">
                    <div class="uk-margin-medium uk-width-xlarge@m uk-text-left@m uk-text-center uk-panel">
                        <h1 class="uk-margin uk-heading-primary">Digital Pioneers</h1>
                        <div class="uk-margin">
                            We are a quickly evolving interactive studio from Germany with a focus on digital
                            design, marketing and branding. We offer individual solutions for different areas.
                        </div>
                    </div>

                    <div class="uk-margin-medium uk-text-left@m uk-text-center uk-grid-match uk-child-width-1-1 uk-child-width-1-2@s uk-grid" uk-grid>
                        <div>
                            <div class="uk-panel">
                                <div class="uk-margin uk-text-lead">
                                    <ul class="uk-list">
                                        <li>Packaging & Print Design</li>
                                        <li>Motion Design & Animation</li>
                                        <li>Mobile App Development</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-panel">
                                <div class="uk-margin uk-text-lead">
                                    <ul class="uk-list">
                                        <li>UI/UX and Web Design</li>
                                        <li>Corporate Identity & Branding</li>
                                        <li>Research & Marketing Strategies</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-margin-medium uk-text-left@m uk-text-center">
                        <a href="#" class="uk-button uk-button-default">Our Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>