<div id="contact" class="uk-section-secondary uk-section uk-section-xlarge">
    <div class="uk-container">

        <div class="uk-flex-middle uk-grid-margin uk-grid" uk-grid>
            <div class="uk-width-1-2@m uk-width-1-1@s uk-grid-item-match">
                <div class="uk-grid-item-match">
                    <div class="contact-title uk-background-norepeat uk-background-center-center uk-tile">
                        <h1 class="uk-text-left@m uk-text-center uk-heading-primary">
                            <a href="#" class="uk-link-heading">
                                Let’s work<br class="uk-visible@l" />
                                together
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand@m uk-width-1-2@s">
                <h2 class="uk-text-left@m uk-text-center uk-h3">Studio East</h2>
                <div class="uk-margin uk-text-left@m uk-text-center">
                    Mainstreet 1234<br />
                    1236 Anytown, Germany (DE)
                </div>
                <div class="uk-margin-remove-vertical uk-text-left@m uk-text-center uk-h4">
                    <a href="tel:+555-1234678" class="uk-link-reset">+555-1234678</a>
                </div>
                <div class="uk-margin-remove-vertical uk-text-left@m uk-text-center">
                    <a href="mailto:mail@example.com">mail@example.com</a>
                </div>
            </div>
            <div class="uk-width-expand@m uk-width-1-2@s">
                <h2 class="uk-text-left@m uk-text-center uk-h3">Studio West</h2>
                <div class="uk-margin uk-text-left@m uk-text-center">
                    Mainstreet 1234<br />
                    1235 Anytown, New Jersey (USA)
                </div>
                <div class="uk-margin-remove-vertical uk-text-left@m uk-text-center uk-h4">
                    <a href="tel:+555-1234678" class="uk-link-reset">+555-1234678</a>
                </div>
                <div class="uk-margin-remove-vertical uk-text-left@m uk-text-center">
                    <a href="mailto:mail@example.com">mail@example.com</a>
                </div>
            </div>
        </div>

        <div class="uk-grid-large uk-flex-middle uk-margin-large uk-grid" uk-grid>
            <div class="uk-width-expand@m">
                <div class="uk-margin uk-text-left@m uk-text-center">
                    <div class="uk-child-width-auto uk-flex-left@m uk-flex-center uk-grid" uk-grid>
                        <div><a uk-icon="icon: twitter" href="https://twitter.com" target="_blank"></a></div>
                        <div><a uk-icon="icon: pinterest" href="https://pinterest.com" target="_blank"></a></div>
                        <div><a uk-icon="icon: instagram" href="https://www.instagram.com" target="_blank"></a></div>
                        <div><a uk-icon="icon: behance" href="https://behance.com" target="_blank"></a></div>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand@m uk-flex-first@m">
                <div class="uk-text-left@m uk-text-center uk-text-muted">
                    <span class="uk-h4">Vision</span> - Digital Design Agency
                </div>
            </div>
        </div>

    </div>
</div>