<div id="hero" class="uk-section-secondary">
    <div class="hero-section uk-section uk-section-large uk-flex uk-flex-middle uk-background-cover uk-height-viewport">
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-grid uk-grid-margin" uk-grid>
                    <div class="uk-width-1-1 uk-grid-item-match">
                        <div class="uk-grid-item match">
                            <div class="hero-content uk-background-norepeat uk-background-center-center uk-tile">

                                <h1 class="uk-margin-small uk-width-large@m uk-text-left@m uk-text-center uk-h6 uk-heading-line">
                                    <span>Digital Design Agency</span>
                                </h1>
                                <h2 class="uk-margin-small uk-text-left@m uk-text-center uk-heading-hero">
                                    We have an<br class="uk-visible@l" />
                                    eye for design.
                                </h2>
                                <div class="uk-margin uk-text-left@m uk-text-center">
                                    <a href="#about" class="uk-icon-link" uk-icon="icon: arrow-down; ratio: 1.75" uk-scroll></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
