.about-section {
  background-image: url('../images/about-background.svg');
  background-position-x: calc(50% + -311.2px);
  background-position-y: calc(50% + -190px);
}

.about-image {
  background-image: url('../images/about-texture.svg');
  background-position-y: calc(108.57px);
}